.Breadcrum {
    background: #ececec none repeat scroll 0 0;
    color: #0f4474;
    padding: 41px 20px 10px;
}

.Breadcrum ul {
    float: right;
    text-align: right;
}

.Breadcrum li {
    display: inline-block;
    padding: 5px;
    color: #333;
}

.Breadcrum li a {
    color: #333;
}

.Breadcrum h1 {
    float: left;
    font-size: 25px;
    line-height: auto;
    margin: 4px 0;
}

.caret_down {
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #ececec;
    position: absolute;
    bottom: -26px;
    left: 70px;
}

.greybg {
    background: #ececec;
}

.white {
    background: #fff;
    margin-bottom: 20px;
}

.productImage img {
    padding: 10px 30px 0 30px;
}

.ProductDetail {
    padding: 20px;
}

.ProductDetail ul {
    margin: 10px 0;
}

.ProductDetail ul li {
    list-style: disc;
    padding: 2px 0;
}

.buttons {
    margin-top: 30px;
    font-size: 15px;
}

.brochure i {
    background: url(../images/sprite.png) no-repeat -294px -323px;
    width: 30px;
    height: 31px;
    display: inline-block;
    margin-top: 15PX;
}

.compare i {
    background: url(../images/sprite.png) no-repeat -253Px -322px;
    width: 30px;
    height: 31px;
    display: inline-block;
    margin-top: 15PX;
}

.tabsProduct {
    padding: 10px 30px;
}

.tab-content {
    padding: 20px 0 0 0;
}

.tab-content li {
    list-style: disc;
    padding: 2px 0;
}

.nav-tabs>li {
    margin-bottom: 0;
}

.nav-tabs>li>a {
    color: #1c80da;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -4px;
}

.nav-tabs>li>a:hover {
    color: #1c80da;
    background: none;
    border: none;
    border-bottom: solid 4px #a2c000;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background: none;
    border: none;
    border-bottom: solid 4px #a2c000;
    color: #1c80da;
}

.product_carousel .carousel {
    background: none;
    margin-top: 0;
}

.product_carousel .thumbnail {
    border: none;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    cursor: pointer;
}

.thumbnail:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay .detail {
    background: url(../images/sprite.png) no-repeat -205px -157px;
    display: inline-block;
    width: 27px;
    height: 36px;
    left: 48%;
    position: absolute;
    top: 40%;
}

.pager li>a,
.pager li>span,
.pager li a:hover,
.pager li a:focus {
    background: none;
    border: none;
}

.pager .next,
.pager .previous {
    position: absolute;
    top: 33%;
}

.pager .next {
    background: url(../images/sprite.png) no-repeat -263px -215px;
    display: inline-block;
    width: 27px;
    height: 36px;
    left: 0;
}

.pager .previous {
    background: url(../images/sprite.png) no-repeat -303px -215px;
    display: inline-block;
    width: 27px;
    height: 36px;
    right: -15px;
}

.pager {
    margin: 0
}

.client {
    padding-bottom: 20px;
}

.compare_div {
    background: #fff;
    border: solid 10px #3e90c2;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 500px;
    z-index: 100;
}

.compare_div h2 {
    color: #fff;
    width: 100%;
    padding: 0 0 10px;
    font-size: 18px;
    background: #3e90c2;
    margin: 0;
}

.compare_div ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.compare_div li {
    margin: 10px 10px;
    padding: 0;
}

.compare_div li span {
    vertical-align: top;
    color: #3e90c2;
    font-weight: bold;
    font-size: 16px;
}

.compare_div .compare {
    float: right;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

.compare_div .compare i {
    margin-top: 0;
    height: 20px;
    background-position: -253px -333px;
}

@media screen and (max-width: 640px) and (min-width: 320px) {
    .compare_div {
        width: 99%;
        top: 40px;
        left: 0;
    }
}

a.grbox {
    background: #f8f8f8;
    box-shadow: 2px 2px 2px #e5e6e6;
    font-size: 14px;
    margin-bottom: 30px;
}

a.grbox h4 {
    font-size: 15px;
    font-weight: bold;
}

.client_testimonial {
    margin: 0 0 30px 0;
}

.client_testimonial img {
    float: left;
    display: block;
    margin: 0 10px 20px 0;
}

.client_testimonial p {
    margin-right: 20px;
}

.client_testimonial name {
    color: #40547a;
    display: block;
    font-style: italic;
}

.card {
    background: #f8f8f8;
    box-shadow: 2px 2px 2px #e5e6e6;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
}

.card a {
    color: #3e90c2;
    font-weight: 600;
    font-size: 16px;
}

.card-block {
    margin-top: 10px;
}

.card span {
    float: right;
    width: 20px;
}

.tablepattern2 td {
    border-bottom: solid 1px #1a6fc3;
    padding: 4px;
}

th {
    background: #1a6fc3;
    color: #fff;
    padding: 4px;
}

.form-group {
    margin-bottom: 10px;
}

.contact {
    padding: 0 50px 30px 50px;
}

.contact .green_button {
    float: left;
    margin: 0;
}

.ADDRESS {
    padding: 0 50px 30px 50px;
}

.ADDRESS ul {
    float: left;
    margin: 20px 0 0 0;
    width: 100%;
    padding: 0;
}

.ADDRESS ul li {
    padding: 6px 0;
    display: flow-root;
    width: 100%;
    text-align: left;
}

.ADDRESS ul li:before {
    background: url(../images/sprite.png) no-repeat;
    display: inline-block;
    width: 42px;
    height: 54px;
    content: "";
    float: left
}

.ADDRESS ul li.adress:before {
    background-position: -297px -122px;
}

.ADDRESS ul li.mobile:before {
    background-position: -372px -195px;
}

.ADDRESS ul li.buisness:before {
    background-position: -331px -164px;
}

.ADDRESS ul li.recr:before {
    background-position: -337px -304px;
}

.ADDRESS ul li.info:before {
    background-position: -345px -251px;
}

.events {
    padding: 30px 20px 30px 0;
    font-size: 14px;
}

.events strong {
    color: #3e90c2;
    font-size: 17px;
    margin: 10px 0;
    display: block;
    font-weight: normal;
}

.bdr_gry {
    border-bottom: solid 1px #e5e6e6;
}

.calender {
    background: #f8f8f8;
    width: 71px;
    height: 75px;
    box-shadow: 2px 2px 2px #e5e6e6;
    color: #3e90c2;
    margin-top: 30px;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
}

.calender date {
    font-weight: bolder;
    display: block;
    font-size: 32px;
}

.recent,
.ARCHIVE {
    padding: 0 0 0 30px;
    float: left;
    color: #3e90c2;
}

.recent ul,
.ARCHIVE ul {
    padding: 0 0 0 10px;
    font-size: 13px;
    margin-bottom: 30px;
}

.recent ul li date {
    display: block;
    color: #afafaf;
}

.recent ul li {
    padding: 10px 15px;
    border-bottom: solid 1px #afafaf;
    background: url(../images/arrow.png) no-repeat 2px 14px;
}

.recent ul li a,
.ARCHIVE ul li a {
    color: #3e90c2;
}

.recent strong,
.ARCHIVE strong {
    font-size: 15px;
    font-weight: bold;
}

.ARCHIVE ul li {
    width: 50%;
    display: inline;
    margin-right: 10px;
}

.photogallery .carousel {
    margin-top: 0;
    background: #fff;
}

.photogallery .carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    text-align: center;
    float: left;
}

.photogallery .carousel-caption {
    position: absolute;
    background: #5fa2db;
    width: 100%;
    margin-top: 80% !important;
    opacity: .7;
    left: 0;
    height: 20px;
    text-shadow: none;
    font-size: 20px;
    z-index: 100;
    padding: 0;
    height: 40px;
    padding: 10px;
}

.photogallery .text-carousel {
    bottom: 0;
}

.productcomparison td {
    padding-left: 30px;
}

.productcomparison .table>thead>tr>th {
    font-size: 15px;
    font-weight: normal;
}

@media only screen and (max-width: 640px) {
    .ProductDetail .green_button {
        display: block;
        width: auto;
        margin-bottom: 10px;
    }
    .brochure i,
    .compare i {
        margin-top: 0;
    }
    .productImage ul,
    .ser ul {
        padding-left: 0;
    }
    .events {
        padding: 20px 10px
    }
}